/* ------------------------------------------------------------------------------------------------------------------------------
УНИВЕРСАЛЬНАЯ КНОПКА (ВАРИАНТЫ)
 --------------------------------------------------------------------------------------------------------------------------------*/
.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	/* Базовый padding, автоширина */

	border: transparent;
	overflow: hidden;
	align-self: flex-start;

	font-weight: 500;
	text-align: center;
	text-decoration: none;

	height: 33px;
	border-radius: 13px;

	@include md {
		border-radius: 20px;
		height: 54px;
	}

	cursor: pointer;

	padding-inline: 30px;

	transition:
		transform 0.08s ease,
		box-shadow 0.2s ease;

	/* ================= GRADIENT LAYER ================= */
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		z-index: 1;

		background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%);

		background-size: 200% 100%;
		background-position: 0% 50%;

		transition: background-position 0.6s ease;
	}

	&:hover::before {
		background-position: 100% 50%;
	}

	/* ================= TEXT ================= */
	&__text {
		position: relative;
		z-index: 2;
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.02em;

		text-shadow:
			0 1px 2px rgba(0, 0, 0, 0.35),
			0 0 1px rgba(0, 0, 0, 0.2);
	}

	/* ================= ICON ================= */
	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 8px;
		height: 38px;
		z-index: 2;

		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;

		img,
		svg {
			aspect-ratio: 1/1;
			height: 38px;
			width: auto;
		}
		@include xxl {			
			right: 0;
			height: 100%;
			img,
			svg {
				aspect-ratio: 1/1;
				height: 100%;
				width: auto;
			}
		}
	}

	/* ================= STATES ================= */
	&:active {
		transform: scale(0.97);
	}

	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 3px rgba(108, 83, 123, 0.35);
	}

	&:disabled,
	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	/* ================= SIZES ================= */

	&--full {
		width: 100%;
	}

	&--fullheight {
		height: 53px;
		width: 100%;
		font-size: 18px;
		border-radius: 20px;
	}

	&--info {
		flex: 1;
		height: 54px;
		font-size: 16px;
		border-radius: 20px;
		@include xxl {
			font-size: 18px;
			height: 58px;
		}
	}

	&--catalog {
		flex: 1;
		height: 59px;
		font-size: 19px;
		border-radius: 22px;

		@media (min-width: 440px) {
			border-radius: 17px;
			font-size: 14px;
			height: 46px;
		}

		@include xxl {
			font-size: 15px;
			height: 46px;
		}

		@include xxxl {
			border-radius: 20px;
			font-size: 18px;
			height: 54px;
		}
	}

	&--new {
		flex: 1;
		height: 33px;
		font-size: 11px;
		border-radius: 13px;

		@media (min-width: 440px) {
			border-radius: 13px;
			font-size: 14px;
			height: 46px;
		}

		@include xxl {
			border-radius: 17px;
			font-size: 15px;
			height: 46px;
		}

		@include xxxl {
			border-radius: 20px;
			font-size: 18px;
			height: 54px;
		}
	}

	&--tg {
		height: 53px;
		width: 100%;
		max-width: 392px;
		border-radius: 100px !important;
		@include sm{
			height: 59px;
		}
		.btn__text {
			font-size: 16px;
		}
	}

	&--tg-full {
		width: 100%;
		height: 53px;
		border-radius: 100px !important;
		.btn__text {
			font-size: 16px;
		}
	}

	&--recommended_dark {
		font-size: 18px;
		@include sm {
			font-size: 15px;
		}
		@include xl {
			font-size: 16px;
		}
		@include xxxl {
			font-size: 18px;
		}

		padding-inline: 5px;
		border-radius: 20px;
		color: #fff;
		background-color: #6c537b;
		width: 100%;
		height: 54px;

		@include sm {
			border-radius: 16px;
			height: 44px;
		}
		@include xl {
			height: 46px;
		}
		@include xxxl {
			height: 54px;
		}
	}

	&--recommended_white {
		font-size: 18px;
		@include sm {
			font-size: 15px;
		}

		@include xl {
			font-size: 16px;
		}
		@include xxxl {
			font-size: 18px;
		}

		padding-inline: 5px;
		border-radius: 20px;
		width: 100%;
		&:before {
			content: none;
		}
		border: 1px solid rgb(0, 0, 0, 0.2);
		background-color: #fff;
		color: black;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: #f4f4f4;
		}
		height: 54px;
		@include sm {
			border-radius: 16px;
			height: 44px;
		}
		@include xl {
			height: 46px;
		}
		@include xxxl {
			height: 54px;
		}
	}

	/* ================= COLOR VARIANTS ================= */
	&--dark {
		color: #fff;
		background-color: #6c537b;
	}

	&--gray {
		color: #fff;
		background-color: #b4afb7;
	}

	&--light {
		color: #fff;
		background-color: #c9aadc;
	}
}
