/* ------------------------------------------------------------------------------------------------------------------------------
КАРТОЧКА ТОВАРА \ PRODUCT CARD
--------------------------------------------------------------------------------------------------------------------------------*/
.product-card {
	display: flex; // или block
	flex-direction: column;
	height: 100%;

	/* ---------------- Image Wrapper ---------------- */
	&__image-wrapper {
		position: relative;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 13px;
		background: #fff;
		aspect-ratio: 1 / 1;
		width: 100%;
		overflow: hidden;
		display: block;

		@include md {
			border-radius: 20px;
		}

		/* Hover эффект: масштаб изображения */
		transition: transform 0.4s ease;

		&:hover .product-card__image {
			transform: scale(1.05);
		}
	}

	&__image {
		block-size: 100%;
		inline-size: 100%;
		object-fit: cover;
		display: block;
		transition: transform 0.4s ease; /* плавный переход для hover */
	}

	/* ---------------- Content ---------------- */
	&__content {
		text-align: center;

		display: flex;
		flex-direction: column;
		flex: 1; /* растягиваем */
		justify-content: space-between;

		padding-top: 10px;
	}
	&__title {
		font-size: 20px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: -0.02em;

		a {
			color: #000;
			text-decoration: none;
		}

		font-size: 8px;
		margin-bottom: 10px;
		max-width: 85%;
		margin-inline: auto;
	}
	&__price {
		font-weight: 500;
		line-height: 100%;
		letter-spacing: -0.02em;
		color: var(--black);

		font-size: 11px;
	}

	&__group {
		margin-top: auto; /* прижимает к низу */
	}

	&__button {
		width: 100%;

		margin-top: 12px;
	}
}

// для секции новые тоовары
.new-products {
	.product-card {
		&__title {
			font-size: 8px;
			margin-bottom: 12px;
			@include sm {
				font-size: 8px;
			}
			@include md {
				font-size: 16px;
				margin-bottom: 15px;
			}

			@include xxxl {
				font-size: 20px;
				margin-bottom: 15px;
			}
		}

		&__price {
			font-size: 11px;
			@include sm {
				font-size: 11px;
			}

			@include md {
				font-size: 20px;
			}

			@include xxxl {
				font-size: 24px;
			}
		}


		&__content {
			padding-top: 15px;

			@media (min-width: 440px) {
				padding-top: 10px;
			}

			@include md{
				padding-top: 20px;
			}
			@include xxxl {
				padding-top: 25px;
			}
		}

		&__button {
			margin-top: 15px;
			@media (min-width: 440px) {
				margin-top: 15px;
			}
			@include md{
				margin-top: 24px;
			}
			@include xxxl {
				margin-top: 25px;
			}
		}
	}
}

// для товаров в категории на странице товаров
.catalog {
	.product-card {
		&__title {
			font-size: 15px;
			margin-bottom: 20px;

			@media (min-width: 440px) {
				font-size: 12px;
				margin-bottom: 16px;
			}
			@include xxl {
				margin-bottom: 16px;
				font-size: 14px;
			}
		}

		&__price {
			font-size: 19px;
			@media (min-width: 440px) {
				font-size: 14px;
			}

			@include xxl {
				font-size: 16px;
			}

			@include xxxl {
				font-size: 18px;
			}
		}

		&__content {
			padding-top: 15px;

			@media (min-width: 440px) {
				padding-top: 10px;
			}
			@include xxl {
				padding-top: 15px;
			}
		}

		&__button {
			margin-top: 20px;
			@media (min-width: 440px) {
				margin-top: 15px;
			}
			@include xxl {
				margin-top: 20px;
			}
		}
	}
}
