/* ------------------------------------------------------------------------------------------------------------------------------
Base
--------------------------------------------------------------------------------------------------------------------------------*/

html {
	opacity: 0.1;
	scroll-behavior: smooth;
	transition: var(--transition);

	&.loaded {
		opacity: 1;
	}
	&.lock {
		touch-action: none;
		overflow: hidden;

		[data-lp] {
			padding-inline-end: var(--bh-scrollbar-width, 1rem);
		}
		.wrapper {
			margin-inline-end: var(--bh-scrollbar-width, 1rem);
		}
	}
}

html,
body {
	margin: 0;
	background: #f6f6f6;	
	// overflow-x: hidden;
}

.container {
	min-width: 320px;
	max-width: var(--site-max-width);
}

svg.icon {
	max-width: 40px;
	max-height: 40px;
}

.img-responsive {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.ibg {
	position: relative;
	& > img {
		display: block;
		position: absolute;
		inset-block-start: 0%;
		inset-inline-start: 0%;
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
	}
}
.ibg-noblock {
	position: relative;
	& > img {
		position: absolute;
		inset-block-start: 0%;
		inset-inline-start: 0%;
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;	
	position: relative;

	min-height: 100vh;
	min-height: 100dvh;

	padding-top: 55px; // стандартная высота
	@include xxl {
		padding-top: 104px; // высота на больших экранах
	}
	/** Поменять на clip - если используется в проекте position: sticky */
	overflow: clip;
}

.main {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
