<div class="filter-s">
	<div class="filter-s-section parent">
		<!-- Parent -->
		<button class="filter-s-header filter-s-header--parent" data-parent-toggle>
			<div class="filter-s-group">
				<svg class="icon icon--filter-s">
					<use href="./icons/symbol/sprite.svg#filter"></use>
				</svg>
				<span class="filter-s-label--parent">Фильтр</span>
			</div>

			<span class="caret">
				<svg class="icon--caret-s">
					<use href="./icons/symbol/sprite.svg#caret"></use>
				</svg>
			</span>
		</button>

		<!-- Children -->
		<div class="filter-s-children">
			<!-- Аккордеонный пункт "Цена - Слайдер" -->
			<div class="filter-s-section child">
				<button class="filter-s-header" data-toggle>
					<span class="filter-s-label">Цена </span>
					<span class="filter-s-caret">▼</span>
				</button>
				<div class="filter-s-content">
					<div class="filter-s-inner">
						<!-- Price slider -->
						<div class="filter-price">
							<div class="filter-price__boxes">
								<div class="filter-price__box">
									<span id="price-s-min-label"></span>
								</div>
								<div class="filter-price__box">
									<span id="price-s-max-label"></span>
								</div>
							</div>
							<div id="price-slider-s" class="filter-price__slider"></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Чекбоксы -->
			<!-- Образец что вставит скрипт -->
			<!-- Child section "СИМ" -->
			<!-- <div class="filter-s-section filter-s-section--child">
				<button class="filter-s-header" data-toggle>
					<span class="filter-s-label">Sim</span>
					<span class="filter-s-caret">▼</span>
				</button>
				<div class="filter-s-content">
					<div class="filter-s-inner" data-filter-ui="sim"></div>
				</div>
			</div> -->
		</div>
	</div>
</div>
