<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	  <script>
      window.addEventListener("DOMContentLoaded", () => {
        (function forceDesktopLayout() {
          const BREAKPOINT = 1536;
          const DESIGN_WIDTH = 1860;

          const screenWidth = window.screen.width;
          const dpr = window.devicePixelRatio || 1;
          const realWidth = screenWidth / dpr;

          const meta = document.querySelector('meta[name="viewport"]');
          if (!meta) 
            return;
          
          if (realWidth < BREAKPOINT) {
            meta.setAttribute("content", "width=device-width, initial-scale=1");
            console.log("adaptive mode:", realWidth);
            return;
          }

          const scale = realWidth / DESIGN_WIDTH;

          meta.setAttribute("content", `width=${DESIGN_WIDTH}, initial-scale=${scale}, maximum-scale=${scale}, user-scalable=no`,);

          console.log("forced 1920 mode:", {realWidth, scale});
        })();
      });
    </script>
	<title>@@title</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

	<link rel="stylesheet" href="css/main.min.css" />
</head>
