<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script>
		(function normalizeDPRForTV() {
			const meta = document.querySelector('meta[name="viewport"]');
			if (!meta) return;

			// Минимальные размеры для телевизора, например 1920x1080 и выше
			const minTVWidth = 1920;
			const minTVHeight = 1080;

			const screenWidth = window.screen.width;
			const screenHeight = window.screen.height;

			// Применяем только если экран большой — телевизор
			if (screenWidth >= minTVWidth && screenHeight >= minTVHeight) {
				const dpr = window.devicePixelRatio || 1;

				// вычисляем scale и округляем до 2 знаков
				const scale = +(1 / dpr).toFixed(2);

				meta.setAttribute("content", `width=device-width, initial-scale=${scale}, maximum-scale=1, user-scalable=yes`);

				console.log("normalizeDPR applied (TV):", { screenWidth, screenHeight, dpr, scale });
			} else {
				console.log("normalizeDPR skipped (not TV):", { screenWidth, screenHeight });
			}
		})();
	</script>
	<title>@@title</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

	<link rel="stylesheet" href="css/main.min.css" />
</head>
