/* ------------------------------------------------------------------------------------------------------------------------------
Catalog products layout
 --------------------------------------------------------------------------------------------------------------------------------*/
.catalog__layout {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.catalog__content {
	width: 100%;
}

/* Sidebar — ТОЛЬКО desktop */
.catalog__sidebar {
	display: none; // mobile скрыт

	@media (min-width: 992px) {
		display: block;
		position: static;
		width: 293px;
		height: auto;

		@include xxxl {
			width: 340px;
		}
	}
}

@media (min-width: 992px) {
	.catalog__layout {
		flex-direction: row;
		gap: 20px;
	}

	.catalog__content {
		flex: 1;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------
Products layout
 --------------------------------------------------------------------------------------------------------------------------------*/
/* Мобильная версия — 2 колонки */
.products__grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
}

@media (min-width: 440px) {
	.products__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 640px) {
	.products__grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Планшет — 3 колонки */
@include lg {
	.products__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Планшет — 3 колонки */
@include xl {
	.products__grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@include xxl {
	.products__grid {
		gap: 25px 20px;
		grid-template-columns: repeat(4, 1fr);
	}
}
