/* =========================
   Шапка сайта
========================= */
.header {
	position: sticky;
	top: 0;
	background: #f4f4f4;	
	height: 54px; // стандартная высота

	z-index: 400;
	@include lg{
		z-index: 1000;
	}
	@include xxl {
		height: 103px; // высота на больших экранах
	}

	/* Внутренний контейнер: горизонтальное выравнивание */
	&__inner {
		 height: inherit;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* Левая часть: логотип и прочее */
	&__left {
		display: flex;
		align-items: center;
	}

	/* Логотип */
	&__logo {
		img {
			transition: var(--transition);
		}

		&:hover img {
			transform: scale(1.025);
		}

		width: 85px;
		height: 34px;

		@include xxl {
			width: 206px;
			height: 83px;
		}
	}

	/* Навигация по центру */
	&__nav {
		flex: 1;
		display: flex;
		justify-content: center;
	}

	/* Правая часть: иконки, кнопки */
	&__right {
		display: flex;
		align-items: center;
		gap: 20px;

		@include xl {
			gap: 25px;
		}
	}

	/* Кнопки/иконки в шапке */
	&__icon-btn {
		display: flex;
		align-items: center;
		gap: 6px;
		background: none;
		border: none;
		cursor: pointer;

		font-size: 12px;
		font-weight: 500;

		@include xxl {
			font-size: 20px;
		}

		color: var(--black);
		transition: var(--transition);

		&:hover {
			color: var(--hover);
		}
	}

	/* Локация/доп. элементы */
	&__location {
		@include xl {
			margin-right: 25px;
		}
	}

	/* Бургер-меню (мобильное) */
	&__burger {
		display: none;

		@media (min-width: 370px) {
			margin-left: 35px;
		}
	}
}

/* =========================
   Адаптив
========================= */
@media (max-width: 1120px) {
	.header {
		&__nav {
			display: none; // прячем стандартное меню
		}

		&__burger {
			display: flex; // показываем бургер
		}
	}
}
