/*===========================================================
 * Скрываем нативный селект (используется Core)
 * ===========================================================*/
.town-native {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	border: 0;

	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

/* ===========================================================
 * Десктопный кастомный селект
 * ===========================================================*/
.town-desktop {
	position: relative;
	cursor: pointer;

	&__dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		background: #fff;
		border-radius: 10px;
		padding: 24px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		list-style: none;
		opacity: 0;
		transform: translateY(10px);
		pointer-events: none;
		transition: 0.2s ease;
		min-width: 100px;
		display: flex;
		flex-direction: column;
		gap: 10px;

		/* Крестик закрытия */
		&__close {
			display: none;
			position: absolute;
			top: 0px;
			right: 8px;
			width: 9px;
			height: 9px;
			cursor: pointer;
			transition: fill 0.2s ease;
			color: rgb(0, 0, 0, 0.5);

			svg {
				width: 9px;
				height: 9px;
			}

			&:hover svg {
				color: rgb(0, 0, 0);
			}
		}

		li {
			cursor: pointer;
			transition: background 0.15s ease;
			font-weight: 400;
			font-size: 14px;
			line-height: 100%;
			white-space: nowrap;
			color: black;

			&:hover {
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}

	&:hover .town-desktop__dropdown {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}
}
